<form (ngSubmit)="submit(form)" #form="ngForm">
    <div class="grid">
        <input type="hidden"  [(ngModel)]="registro.id" name="id">
        <label for="nome">Nome</label>
        <input type="text" name="nome"  [(ngModel)]="registro.nome" id="nome" required>
        <label for="registroConselho">Registro</label>
        <input type="text"  [(ngModel)]="registro.registroConselho" name="registroConselho" id="registroConselho" required>
        <label for="especialidade">Especialidade</label>
        <select [(ngModel)]="registro.especialidade" [compareWith]="compareById"  name="especialidade" id="especialidade" required>
            <option value="">Selecione</option>
            <option value="1">Oncologia</option>
            <option value="2">Dermatologia</option>
            <option value="3">Cardiologia</option>
        </select>
        <label for="unidade">Unidade</label>
        <select [(ngModel)]="registro.unidade" [compareWith]="compareById" name="unidade" id="unidade" required>
            <option *ngFor="let item of unidades" [ngValue]="item">{{item.nome}}</option>
        </select>
        <label for="telefone">Telefone</label>
        <input type="text" [(ngModel)]="registro.telefone" name="telefone" id="telefone">
        <label for="email">E-mail</label>
        <input type="email" [(ngModel)]="registro.email" name="email" id="email">
    </div>
    <input type="button" value="Cancelar" routerLink="../">
    <input type="submit" value="Salvar" [disabled]="form.invalid">
</form>
